@charset "UTF-8";
* {
  margin: 0%;
  padding: 0%;
  size-adjust: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

h1 {
  color: white;
  font-size: 40px;
  padding-left: 20px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

.texto {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.body {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(121, 75, 9) 56%, rgb(255, 102, 0) 100%);
}

/*Pagina: Inicio Sesion*/
.btn-in {
  background-color: #a3592a;
  color: white;
  border-radius: 10px;
  height: 30px;
  border-style: solid;
  border-color: #a3592a;
  padding: 10px;
  font-size: 20px;
}
.btn-in:hover {
  background-color: #eda464;
  border-color: #eda464;
}

.barra {
  color: white;
  background-color: black;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.logo {
  color: white;
  background-color: black;
  font-size: 30px;
  font-weight: bold;
  padding-left: 20px;
  border: none;
}

#i-s {
  color: white;
  font-size: 18px;
  padding-right: 20px;
}

#reg {
  color: white;
  font-size: 18px;
  padding-right: 20px;
}

.form-sesion {
  background-color: #1B1B1B;
  border-radius: 15px;
  color: white;
  padding: 20px;
  width: 400px;
  height: 400px;
  gap: 40px;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-input {
  width: 100%;
  font-size: 20px;
  background: none;
  color: white;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
}

.footer {
  color: white;
  background-color: black;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0px;
  padding-left: 20px;
}

.footer2 {
  color: grey;
  background-color: black;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  bottom: 0px;
  padding-left: 20px;
  font-size: 1rem;
  gap: 10px;
  list-style-type: none;
  position: relative;
}

.divfooter {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
  margin-right: 10px;
  color: grey;
}

#fondo {
  background-color: black;
}

#btnindex {
  background-color: black;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  font-size: 30px;
  padding: 15px;
  display: flex;
}

#btn-app {
  background-color: #a3592a;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  padding: 15px 15px;
  text-align: center;
  height: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

#main1 {
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 40px;
}

#sectionindex1 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

#sectionindex2 {
  background-color: #1B1B1B;
}

#div2index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 105px;
  gap: 20px;
  color: white;
  font-size: 40px;
  object-fit: cover;
}

#main1 {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

#sectionindex3 {
  background: linear-gradient(black, #a3592a);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-color: #1B1B1B;
  color: rgb(216, 211, 211);
  border-style: solid;
  border-color: #1B1B1B;
  border-radius: 2rem;
  padding: 30px;
  margin: 60px;
  width: 600px;
  height: auto;
  list-style-type: "👍";
  font-size: 20px;
  gap: 10px;
}

.btnpg {
  padding: 10px;
  border-style: solid;
  border-color: #a3592a;
  background-color: #a3592a;
  border-radius: 1rem;
  color: white;
  font-weight: bold;
  margin-top: 20px;
}

/*Segunda pagina: Registro*/
#section-r {
  margin: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form-r {
  background-color: #1B1B1B;
  color: white;
  width: 400px;
  height: auto;
  border-radius: 20px;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin: 10px;
  padding: 20px;
}

#btn-reg {
  background-color: #a3592a;
  text-decoration: none;
  color: white;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  display: inline-block;
  font-size: 1rem;
  margin: 0px;
}
#btn-reg:hover {
  background-color: #eda464;
}

/*Tercera pagina: Inicio sesión*/
#section-is {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 250px;
}

@media (min-width: 360px) and (max-height: 640px) {
  .barra {
    color: white;
    background-color: black;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  #i-s {
    color: white;
    font-size: 15px;
    padding-right: 10px;
  }
  #reg {
    color: white;
    font-size: 15px;
    padding-right: 10px;
  }
  .logo {
    color: white;
    background-color: black;
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
    border: none;
  }
  .footer {
    color: white;
    background-color: black;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0px;
    padding-left: 20px;
  }
  #btn-app {
    background-color: #a3592a;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    padding: 15px 15px;
    text-align: center;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  #section-is {
    background: #a3592a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
  }
  .form-sesion {
    background-color: #1B1B1B;
    border-radius: 15px;
    color: white;
    padding: 20px;
    width: 250px;
    height: 300px;
    gap: 30px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .btn-in {
    background-color: #a3592a;
    color: white;
    border-radius: 10px;
    height: 30px;
    border-style: solid;
    border-color: #a3592a;
    padding: 10px;
    font-size: 10px;
  }
  .form-input {
    width: 100%;
    font-size: 15px;
    background: none;
    color: white;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
  }
}
/*Cuarta pagina: Mi perfil*/
body {
  background-color: black;
  font-size: 25px;
}

#section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

#titulo {
  color: white;
  background-color: #1B1B1B;
  border-style: solid;
  border-color: #a3592a;
  border-radius: 20px;
  width: 300px;
  padding: 5px;
  text-align: center;
}

#divmain {
  background-color: black;
  color: white;
  border-style: solid;
  border-radius: 10px;
  border-color: #a3592a;
  background-color: #1B1B1B;
  width: 300px;
  padding: 20px;
}

#btnclose {
  margin-top: 10px;
  padding: 10px;
  border-style: solid;
  border-color: white;
  background-color: #a3592a;
  color: white;
  border-radius: 15px;
  font-weight: bold;
  font-size: 15px;
}

#ulsec1 {
  color: white;
  margin: 50px;
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
}

#divs {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin: 20px;
  padding: 50px;
  border-style: solid;
  border-color: #a3592a;
  color: white;
  background-color: #1B1B1B;
  border-radius: 10px;
  gap: 20px;
  position: relative;
}

.divboton {
  margin: 10px;
  padding: 10px;
  border-style: solid;
  border-color: white;
  background-color: #a3592a;
  color: white;
  border-radius: 15px;
  font-weight: bold;
  font-size: 15px;
  display: flex;
}

.span {
  color: #a3592a;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/*Quinta pagina: Descubrir*/
.container1des {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  margin: 50px;
}
.container1des #telefono {
  width: 750px;
  object-fit: cover;
}
.container1des .botonesapp {
  width: 220px;
  margin-left: 150px;
  border: 1px solid #a3592a;
  border-radius: 20px;
  background-color: black;
  font-size: 20px;
  padding: 5px;
}
.container1des #div1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 15px;
}
.container1des .texto1 {
  color: white;
  font-size: 4rem;
  text-align: start;
  margin-left: 150px;
  height: 320px;
  width: 500px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.container1des .texto2 {
  font-size: 2rem;
  color: #a3592a;
  margin-left: 118px;
  font-weight: bold;
  width: 700px;
}
.container1des .texto3 {
  color: grey;
  margin-top: 12px;
  margin-left: 155px;
  font-size: 20px;
}
.container1des #div2 {
  display: flex;
  flex-direction: column;
  align-items: start;
}

/*# sourceMappingURL=styles.css.map */
