@charset "UTF-8";
* {
  margin: 0%;
  padding: 0%;
  size-adjust: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

h1 {
  color: white;
  font-size: 35px;
  padding-left: 20px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

.body {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(121, 75, 9) 56%, rgb(255, 102, 0) 100%);
}

@keyframes desplazar-left {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(60px);
  }
}
@keyframes rotar {
  from {
    transform: scale(0.8);
    transform: rotate(360deg);
  }
}
/*Pagina: Inicio Sesion*/
.btn-in {
  background-color: #a3592a;
  color: white;
  border-radius: 10px;
  height: 30px;
  border-style: solid;
  border-color: #a3592a;
  padding: 10px;
  font-size: 20px;
}
.btn-in:hover {
  background-color: #fc8c44;
  border-color: #fc8c44;
  transition: 500ms;
}

.barra {
  background-color: black;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.logo {
  background-color: black;
  font-size: 30px;
  font-weight: bold;
  padding-left: 20px;
  border: none;
}
.logo:hover {
  color: #fc8c44;
  transform: scale(1.2);
  transition-duration: 500ms;
}

#i-s {
  color: white;
  font-size: 18px;
  padding-right: 20px;
}
#i-s:hover {
  color: #fc8c44;
  transform: scale(1.2);
  transition-duration: 500ms;
}

#reg {
  color: white;
  font-size: 18px;
  padding-right: 20px;
}
#reg:hover {
  color: #fc8c44;
  transform: scale(1.2);
  transition-duration: 500ms;
}

.form-sesion {
  background-color: #1B1B1B;
  border-radius: 15px;
  color: white;
  padding: 20px;
  margin-top: 160px;
  width: 400px;
  height: 400px;
  gap: 40px;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-sesion:hover {
  transform: scale(1.2);
  transition: 500ms;
  box-shadow: 0 0 0 10px #a3592a;
}

.form-input {
  width: 100%;
  font-size: 20px;
  background: none;
  color: white;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
}

.footer {
  color: white;
  background-color: black;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0px;
  padding-left: 20px;
}

.footer2 {
  color: grey;
  background-color: black;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  bottom: 0px;
  padding-left: 20px;
  font-size: 1rem;
  list-style-type: none;
}

.footer3 {
  color: grey;
  background-color: black;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  bottom: 0px;
  padding-left: 20px;
  font-size: 1rem;
  list-style-type: none;
  position: fixed;
}

.divfooter {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
  margin-right: 10px;
  color: grey;
}

#fondo {
  background-color: black;
}

#texto {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#texto2 {
  font-size: 25px;
}

#btnindex {
  background-color: black;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  font-size: 30px;
  padding: 15px;
}
#btnindex:hover {
  background-color: #a3592a;
  border-color: #a3592a;
  transform: scale(0.5);
  transition-duration: 500ms;
}

#btn-app {
  background-color: #a3592a;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  padding: 15px 15px;
  text-align: center;
  height: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

#main1 {
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 40px;
}
#main1 #sectionindex1 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
#main1 #sectionindex2 {
  background-color: #1B1B1B;
}
#main1 #div2index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 105px;
  gap: 30px;
  color: white;
  font-size: 40px;
  object-fit: cover;
}
#main1 #main1 {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
#main1 #sectionindex3 {
  background: linear-gradient(black, #a3592a);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}
#main1 .tarjeta {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-color: #1B1B1B;
  color: rgb(216, 211, 211);
  border-style: solid;
  border-color: #1B1B1B;
  border-radius: 2rem;
  padding: 30px;
  margin: 60px;
  width: 600px;
  height: auto;
  list-style-type: "👍";
  font-size: 20px;
  gap: 10px;
}
#main1 .tarjeta:hover {
  transform: scale(1.2);
  transition-duration: 1s;
}
#main1 .btnpg {
  padding: 10px;
  border-style: solid;
  border-color: #a3592a;
  background-color: #a3592a;
  border-radius: 1rem;
  color: white;
  font-weight: bold;
  margin-top: 20px;
}

/*Vista mobil*/
@media (min-width: 360px) and (max-height: 640px) {
  h1 {
    font-size: 30px;
    padding-left: 10px;
  }
  #fondo {
    background-color: black;
  }
  #btnindex {
    background-color: black;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    font-size: 1rem;
    padding: 15px;
  }
  #btnindex:hover {
    background-color: #a3592a;
    border-color: #a3592a;
  }
  #btn-app {
    background-color: #a3592a;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    padding: 15px 15px;
    text-align: center;
    height: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  #main1 {
    display: flex;
    flex-direction: column;
  }
  #main1 #sectionindex1 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  #main1 #sectionindex2 {
    background-color: #1B1B1B;
  }
  #main1 #div2index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 30px;
    gap: 20px;
    color: white;
    font-size: 30px;
  }
  #main1 #main1 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
  #main1 #sectionindex3 {
    background: linear-gradient(black, #a3592a);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
  }
  #main1 .tarjeta {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: #1B1B1B;
    color: rgb(216, 211, 211);
    border: 1px solid #1B1B1B;
    padding: 30px;
    margin: 40px;
    width: 600px;
    height: auto;
    list-style-type: "👍";
    font-size: 20px;
    gap: 10px;
  }
  #main1 .btnpg {
    padding: 10px;
    border-style: solid;
    border-color: #a3592a;
    background-color: #a3592a;
    border-radius: 1rem;
    color: white;
    font-weight: bold;
    margin-top: 20px;
  }
  #main1 .footer2 {
    color: grey;
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    bottom: 0px;
    padding-left: 20px;
    font-size: 10px;
    gap: 8px;
    list-style-type: none;
    position: relative;
  }
}
/*Segunda pagina: Registro*/
#section-r {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form-r {
  background-color: #1B1B1B;
  color: white;
  width: 400px;
  height: auto;
  border-radius: 20px;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin-top: 160px;
  padding: 20px;
  box-shadow: 5px 5px 5px black;
}
#form-r:hover {
  transform: scale(1.2);
  transition: 500ms;
  box-shadow: 0 0 0 10px #a3592a;
}
#form-r #btn-reg {
  background-color: #a3592a;
  text-decoration: none;
  color: white;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  display: block;
  font-display: 0px;
  font-size: 1rem;
}
#form-r #btn-reg:hover {
  background-color: #fc8c44;
  transform: scale(1.4);
  transition: 500ms;
}

@media (min-width: 360px) and (max-height: 640px) {
  #section-r {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #form-r {
    background-color: #1B1B1B;
    color: white;
    width: 300px;
    height: auto;
    border-radius: 20px;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-top: 50px;
    padding: 20px;
    box-shadow: 5px 5px 5px black;
  }
  #form-r:hover {
    transform: scale(1.2);
    transition: 500ms;
    box-shadow: 0 0 0 10px #a3592a;
  }
  #form-r #btn-reg {
    background-color: #a3592a;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    display: block;
    font-display: 0px;
    font-size: 1rem;
  }
  #form-r #btn-reg:hover {
    background-color: #fc8c44;
    transform: scale(1.4);
    transition: 500ms;
  }
}
/*Tercera pagina: Inicio sesión*/
#section-is {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 360px) and (max-height: 640px) {
  .barra {
    color: white;
    background-color: black;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    position: sticky;
  }
  #i-s {
    color: white;
    font-size: 12px;
    padding-right: 5px;
  }
  #reg {
    color: white;
    font-size: 12px;
    padding-right: 5px;
  }
  .logo {
    color: white;
    background-color: black;
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
    border: none;
  }
  .footer {
    color: white;
    background-color: black;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0px;
    padding-left: 20px;
  }
  #btn-app {
    background-color: #a3592a;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    padding: 15px 15px;
    text-align: center;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  #section-is {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-sesion {
    background-color: #1B1B1B;
    border-radius: 15px;
    color: white;
    padding: 30px;
    width: 300px;
    height: 400px;
    gap: 40px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
  }
  .form-input {
    width: 100%;
    font-size: 15px;
    background: none;
    color: white;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
  }
}
.btn-in {
  background-color: #a3592a;
  color: white;
  border-radius: 10px;
  height: 30px;
  border-style: solid;
  border-color: #a3592a;
  padding: 10px;
  font-size: 1rem;
}
.btn-in:hover {
  background-color: #fc8c44;
}

/*Cuarta pagina: Mi perfil*/
body {
  background-color: black;
  font-size: 25px;
}

#section1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

#titulo {
  color: white;
  background-color: #1B1B1B;
  border-style: solid;
  border-color: #a3592a;
  border-radius: 20px;
  width: 300px;
  padding: 5px;
  text-align: center;
}

#divmain {
  background-color: black;
  color: white;
  border-style: solid;
  border-radius: 10px;
  border-color: #a3592a;
  background-color: #1B1B1B;
  width: 300px;
  padding: 20px;
}

#btnclose {
  margin-top: 10px;
  padding: 10px;
  border-style: solid;
  border-color: white;
  background-color: #a3592a;
  color: white;
  border-radius: 15px;
  font-weight: bold;
  font-size: 15px;
}

#ulsec1 {
  color: white;
  margin: 50px;
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
}

#divs {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin: 20px;
  padding: 50px;
  border-style: solid;
  border-color: #a3592a;
  color: white;
  background-color: #1B1B1B;
  border-radius: 10px;
  gap: 20px;
  position: relative;
}

.divboton {
  margin: 10px;
  padding: 10px;
  border-style: solid;
  border-color: white;
  background-color: #a3592a;
  color: white;
  border-radius: 15px;
  font-weight: bold;
  font-size: 15px;
  display: flex;
}

.span {
  color: #a3592a;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/*Quinta pagina: Descubrir*/
.container1des {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  margin: 50px;
}
.container1des #telefono {
  width: 670px;
  transform: rotate(10deg);
  animation-name: rotar;
  animation-duration: 2s;
}
.container1des .botonesapp {
  width: 220px;
  margin-left: 150px;
  border: 1px solid #a3592a;
  border-radius: 20px;
  background-color: black;
  font-size: 20px;
  padding: 5px;
}
.container1des .botonesapp:hover {
  background-color: #a3592a;
  transition: 500ms;
  transform: scale(1.1);
}
.container1des #div1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 15px;
  animation-name: desplazar-left;
  animation-duration: 1500ms;
  animation-direction: alternate-reverse;
}
.container1des .texto1 {
  color: white;
  font-size: 4rem;
  text-align: start;
  margin-left: 150px;
  height: auto;
  width: auto;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.container1des .texto2 {
  font-size: 2rem;
  color: #a3592a;
  margin-left: 150px;
  font-weight: bold;
  width: auto;
  text-align: start;
}
.container1des .texto3 {
  color: grey;
  margin-top: 12px;
  margin-left: 155px;
  font-size: 20px;
}
.container1des #div2 {
  display: flex;
  flex-direction: column;
  align-items: start;
}

@media (min-width: 360px) and (max-height: 640px) {
  .container1des {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container1des #telefono {
    width: 350px;
    margin-bottom: 20px;
    padding: 20px;
    transform: rotate(10deg);
    animation-name: rotar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  .container1des .botonesapp {
    width: 220px;
    margin-left: 20px;
    border: 1px solid #a3592a;
    border-radius: 20px;
    background-color: black;
    font-size: 20px;
    padding: 5px;
  }
  .container1des .botonesapp:hover {
    background-color: #a3592a;
    transition: 500ms;
    transform: scale(1.1);
  }
  .container1des #div1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #1B1B1B;
    border: solid #1B1B1B;
    border-radius: 20px;
    padding: 20px;
    gap: 15px;
    animation-name: desplazar-left;
    animation-duration: 1500ms;
    animation-direction: alternate-reverse;
  }
  .container1des .texto1 {
    color: white;
    font-size: 2rem;
    text-align: start;
    margin-left: 20px;
    height: auto;
    width: auto;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  .container1des .texto2 {
    font-size: 2rem;
    color: #a3592a;
    margin-left: 20px;
    font-weight: bold;
    width: auto;
    text-align: start;
  }
  .container1des .texto3 {
    color: grey;
    margin-top: 12px;
    margin-left: 20px;
    font-size: 20px;
  }
  .container1des #div2 {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}

/*# sourceMappingURL=styles.css.map */
