*{
    margin: 0%;
    padding: 0%;
    size-adjust: 100vh;
    font-family:Arial, Helvetica, sans-serif;   
    box-sizing: border-box;
}


h1 {
    color: white;
    font-size: 35px;
    padding-left: 20px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.body {
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(121,75,9,1) 56%, rgba(255,102,0,1) 100%);
}

$color-primario1: #1B1B1B;
$color-primario2: #a3592a; 
$color-secundario1: #fc8c44; 

@keyframes desplazar-left {
    from {transform: translateX(-0px);}
    to {transform: translateX(60px);}
}

@keyframes rotar {
    from {transform: scale(0.8);
        transform: rotate(360deg);}
}








