/*Quinta pagina: Descubrir*/

.container1des {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    margin: 50px;

        #telefono {
            width: 670px;
            transform: rotate(10deg);
            animation-name: rotar;
            animation-duration: 2s;
        }

        .botonesapp {
            width: 220px;
            margin-left: 150px;
            border: 1px solid $color-primario2;
            border-radius: 20px;
            background-color: black;
            font-size: 20px;
            padding: 5px;
                &:hover {background-color: $color-primario2;
                        transition: 500ms;
                        transform: scale(1.1);}
        }
    
        #div1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            gap: 15px;
            animation-name: desplazar-left;
            animation-duration: 1500ms;
            animation-direction: alternate-reverse;
        }
        
        .texto1 {
            color: white;
            font-size: 4rem;
            text-align: start;
            margin-left: 150px;
            height: auto;
            width: auto;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

        }
        .texto2 {
            font-size: 2rem;
            color: $color-primario2;
            margin-left: 150px;
            font-weight: bold;
            width: auto;
            text-align: start;
        }

        .texto3 {
            color: grey;
            margin-top: 12px;
            margin-left: 155px;
            font-size: 20px;
        }

        #div2 { 
            display: flex;
            flex-direction: column;
            align-items: start;
        }

    }

