/*Quinta pagina: Descubrir*/

.primeraSeccionPage5{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
}

.segundaSeccionPage5{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 30px;
    gap: 20px;
}

.tarjetaPage5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: $color-primario1;
    padding: 40px;
    gap: 40px;
    color: white;
    text-align: center;

    &:hover{
        transform: scale(1.1);
        transition-duration: 500ms;
    }
}

.iconoTarjeta {
    width: 200px;
}

.tituloSeparador {
    color: white;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    text-shadow: 2px 2px black;
}

@media (min-width:320px) and (max-height: 640px) {

    .navbar {
        background-color: black;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        gap: 10px;
        margin-left: 5px;
        margin-bottom: 5px;
    }

    .segundaSeccionPage5{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 30px;
        gap: 20px;
    }
}