/*Quinta pagina: Descubrir*/

.container1des {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    margin: 50px;

        #telefono {
            width: 750px;
            object-fit: cover;
        }

        .botonesapp {
            width: 220px;
            margin-left: 150px;
            border: 1px solid $color-primario2;
            border-radius: 20px;
            background-color: black;
            font-size: 20px;
            padding: 5px;
        }
    
        #div1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            gap: 15px;
        }
        
        .texto1 {
            color: white;
            font-size: 4rem;
            text-align: start;
            margin-left: 150px;
            height: 320px;
            width: 500px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

        }
        .texto2 {
            font-size: 2rem;
            color: $color-primario2;
            margin-left: 118px;
            font-weight: bold;
            width: 700px;
        }

        .texto3 {
            color: grey;
            margin-top: 12px;
            margin-left: 155px;
            font-size: 20px;
        }

        #div2 { 
            display: flex;
            flex-direction: column;
            align-items: start;
        }

    }