/*Cuarta pagina: Mi perfil*/

body{
    background-color: black;
    font-size: 25px;
}

#section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

#titulo {
    color: white;
    background-color: #1B1B1B;
    border-style: solid;
    border-color: #a3592a;
    border-radius: 20px;
    width: 300px;
    padding: 5px;
    text-align: center;
    }

#divmain {

    background-color: black; 
    color: white;
    border-style: solid;
    border-radius: 10px;
    border-color: #a3592a;
    background-color: #1B1B1B;
    width: 300px;
    padding: 20px;
}

#btnclose {
margin-top: 10px;
padding: 10px;
border-style: solid;
border-color: white;
background-color: #a3592a;
color: white;
border-radius: 15px;
font-weight: bold;
font-size: 15px;
}

#ulsec1 {
    color: white;
    margin: 50px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
}


#divs {

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 20px;
    padding: 50px;
    border-style: solid;
    border-color: #a3592a;
    color: white;
    background-color:#1B1B1B;
    border-radius: 10px; 
    gap: 20px;
    position: relative;

}

.divboton {

margin: 10px;
padding: 10px;
border-style: solid;
border-color: white;
background-color: #a3592a;
color: white;
border-radius: 15px;
font-weight: bold;
font-size: 15px;
display: flex;
}

.span {
    color: #a3592a;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}