/*Cuarta pagina: Mi perfil*/

body {
    background-color: black;
    font-size: 25px;
}

.sectionMiPerfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.tituloMiPerfil {
    color: white;
    background-color: #1B1B1B;
    border-radius: 20px;
    width: 300px;
    padding: 5px;
    text-align: center;
    font-size: 2rem;
}

.indiceMiPerfil {

    background-color: #1B1B1B;
    color: white;
    border: solid #1B1B1B;
    border-radius: 20px;
    width: 300px;
    padding: 20px;
    gap: 50px;
    font-size: 20px;

    &:hover {
        background-color: black;
        transition: 500ms;
        border-color: black;
    }
}

.atajosIndice {
    &:hover {
        background-color: #a3592a;
        color: white;
        transition: 400ms;
        margin: 12px;
        padding: 3px;
    }
}

.inputMiPerfil {

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 20px;
    padding: 50px;
    color: white;
    background-color: #1B1B1B;
    border-radius: 10px;
    gap: 20px;
    position: relative;

    &:hover {
        background-color: black;
        transition: 500ms;
    }
}

.tituloInput {
    color: #a3592a;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}