/*Segunda pagina: Registro*/

#section-r {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    #form-r {
    background-color: #1B1B1B;
    color: white;
    width: 400px;
    height: auto;
    border-radius: 20px;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-top: 160px;
    padding: 20px;
    box-shadow: 5px 5px 5px black;

    &:hover {
        transform: scale(1.2);
        transition: 500ms;
        box-shadow: 0 0 0 10px $color-primario2;
    }
    
    #btn-reg {
        background-color: $color-primario2;
        text-decoration: none;
        color: white;
        border-radius: 20px;
        padding: .5rem 1rem;
        display: block;
        font-display: 0px;
        font-size: 1rem;
    
        &:hover {background-color: $color-secundario1;
                transform: scale(1.4);
                transition: 500ms;}
        } 
    }