/*Pagina: Inicio Sesion*/

.btn-in { 
    background-color: $color-primario2;
    color: white;
    border-radius: 10px;
    height: 30px;
    border-style: solid;
    border-color: $color-primario2;
    padding: 10px;
    font-size: 20px;

    &:hover {
        background-color: $color-secundario1;
        border-color: $color-secundario1;
        transition: 500ms;}
}

