.footer {
    color: grey;
    background-color: black;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 1rem;
    list-style-type: none;
    margin-top: auto;
    bottom: 0px;
}
.divfooter {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    margin-right: 10px;
    color: grey;
    padding: 10px;
    font-size: 15px;
}

/*Estuve mucho tiempo intentando lograr que el footer quedase abajo de todo en todas las pages, 
pero si ponia la propiedad fixed, en las pages que tuviesen scroll el footer quedaria flotando y tapando contenido, mientras 
que en las pages con poco contenido funcionaba. Debe haber una solucion a esto adecuada, pero para 
ahorrar tiempo decidi hacer este footer aparte con las mismas propiedades sumando la propiedad fixed para colocarlo
en pages con poco contenido, que serian las de Inicio Sesion y Registro.*/

.footerX {
    color: grey;
    background-color: black;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 1rem;
    list-style-type: none;
    margin-top: auto;
    bottom: 0px;
    position: fixed;
}