.form-sesion {
    background-color: #1B1B1B;
    border-radius: 15px;
    color: white;
    padding: 20px;
    width: 400px;
    height: 400px;
    gap: 40px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-input {
    width: 100%;
    font-size: 20px;
    background: none;
    color: white;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
}
