.form-sesion {
    background-color: $color-primario1;
    border-radius: 15px;
    color: white;
    padding: 20px;
    margin-top: 160px;
    width: 400px;
    height: 400px;
    gap: 40px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

        &:hover {
            transform: scale(1.2);
            transition: 500ms;
            box-shadow: 0 0 0 10px $color-primario2;
        }
}

.form-input {
    width: 100%;
    font-size: 20px;
    background: none;
    color: white;
    border: none;
    outline: none;
    border-bottom: 1px solid grey;
}
