
.barra  {
    background-color: black;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.logo {
    background-color: black;
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
    border: none;
    &:hover {color: $color-secundario1;
        transform: scale(1.2);
        transition-duration: 500ms;
        }
}

#i-s {
    color: white;
    font-size: 18px;
    padding-right: 20px;
    
    &:hover {color: $color-secundario1;
            transform: scale(1.2);
            transition-duration: 500ms;}}

#reg {
    color: white;
    font-size: 18px;
    padding-right: 20px;

    &:hover {color: $color-secundario1;
        transform: scale(1.2);
        transition-duration: 500ms;}
}
